*{
    box-sizing: border-box;
    margin: 0px;
}
.container>.box>p{
    padding: 20px;
    color: rgb(43, 132, 71);
    
}

.section .content>p
{
    margin: 15px;
    color: rgb(105, 155, 20);
}

.card-header+.card-body>p 
{
border: 2px solid red;
}

.navbar>ul>li
{
    background-color: lightblue;
}
 .header>h1{
    margin-top: 20px;
    color: rgb(86, 84, 84);
 }
 .footer>span{
    padding: 10px;
    color: rgb(86, 9, 158);
 }
 .main-content .content p{
    border: 1px solid black;
 }
 .null ul li{
    margin-right: 15px;
    color: rgb(75, 87, 21);
 }
 .gallery>*
 {
    background-color: lightgrey;
 }
.container .footer span{
    border-radius: 5px;
    border: solid rgb(107, 30, 74);
    color: rgb(103, 13, 97);
 }